.tinglado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    width: 100%;
    margin: 0;
}
.bodyTinglado{
    width: 50%;
}
.sobreEscenario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.bajoEscenario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.limpieza{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;    
    }
    .padresAlumnos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;  
    }
    .items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px; 
    }
@media(max-width:1000px){
    .bodyTinglado{
        width: 90%;
        
    }
    .tinglado{
        padding: 0;
    }
  }
  @media(max-width:900px){
    .bodyTinglado{
        width: 90%;
        
    }
    .tinglado{
        padding: 0;
    }
    .items{
        grid-template-columns: 1fr;
    }
  }
  @media(max-width:500px){
    .padresAlumnos{
        grid-template-columns: 1fr ;
    }
  }

@media(max-width:360px){
    .limpieza{
    
        grid-template-columns: 1fr ;
       
            
        }
}